body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
*{
    text-decoration: none;
  }
  h1 {
    color: #00698f;
    font-family: Arial, sans-serif;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .navbar{
   background-color: #666; font-family: calibri; padding: 20px;box-shadow: 0px 2px 2px 2px rgba(204,203,203);
  }
  .navdiv{
    display: flex; align-items:center; justify-content: space-between;
  }
  .logo a{
    font-size: 35px; font-weight: 600; color: rgb(42, 4, 4);;
  }
  li{
    list-style: none; display: inline-block;
  }
  li a{
    color: white; font-size: 18px; font-weight: bold; margin-right: 25px;transition: 0.3s ease;
  }
  button{
    background-color: grey; margin-left: 5px; border-radius: 5px; padding: 3px; width: 10x;
  }
  button a{
    color: white; font-weight: bold; font-size: 15px;
  }
  .menu
  {
  display:flex;
  align-items:right;
  }
  .menu li a:hover{
    color:black;
    border-bottom: 2px solid black;
  }
  .search{
    display:inline-block;
    align-items: center;
    margin-right: 0;
  }
  .search input{
    padding: 10px;border: 1px solid#ddd; outline: none; border-radius: 5px; font-size:12px;
  }
  .search input:hover{
    border:2px solid black;
  }
  .search button{
    padding:10px; background-color: aliceblue;border: none; border-radius:5px; color:#333;font-size: 12px;cursor:pointer;
  
  }
  .search button:hover{
    background-color:#ccc; border:2px solid black;
  }
h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}
.container {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.contact-form {
    display: flex;
    flex-direction: column;
}
.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}
.contact-form input, .contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}
.contact-form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #555;
}
footer {
     background-color: #666;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px; 
    
}
