body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header{
*{
  text-decoration: none;
}
.navbar{
  font-family: calibri; padding: 20px;box-shadow: 0px 2px 2px 2px rgba(204,203,203);
}
.navdiv{
  display: flex; align-items:center; justify-content: space-between;
}
.logo a{
  font-size: 35px; font-weight: 600; color: rgb(42, 4, 4);;
}
li{
  list-style: none; display: inline-block;
}
li a{
  color: rgb(129, 97, 97); font-size: 18px; font-weight: bold; margin-right: 25px;transition: 0.3s ease;
}
button{
  background-color: grey; margin-left: 5px; border-radius: 5px; padding: 3px; width: 10x;
}
button a{
  color: white; font-weight: bold; font-size: 15px;
}
.menu
{
display:flex;
align-items:right;
}
.menu li a:hover{
  color:black;
  border-bottom: 2px solid black;
}
.search{
  display:inline-block;
  align-items: center;
  margin-right: 0;
}
.search input{
  padding: 10px;border: 1px solid#ddd; outline: none; border-radius: 5px; font-size:12px;
}
.search input:hover{
  border:2px solid black;
}
.search button{
  padding:10px; background-color: aliceblue;border: none; border-radius:5px; color:#333;font-size: 12px;cursor:pointer;

}
.search button:hover{
  background-color:#ccc; border:2px solid black;
}
}
.background-image{
  position:relative;
  background-image: url('images/backgrounds.avif');
  background-size: cover;
  background-position: center;
  height:100vh;
  margin:0;
  padding:0;
}
.b-text{
position: absolute;
top:20%;
color:rgb(42, 4, 4);
padding: 20px;
font-size: 30px;
text-transform: uppercase;
font-weight:bold;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
  .button{
    background-color:brown; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  } 
 .button:hover {
    background-color:lightsalmon; /* Darker green */
  } 
  .button:active {
    background-color:lightsalmon; /* Even darker green */
  }
.button hover{
  transition:1s ease;
  cursor:pointer;
}
.prod-box{
  width: 25%;
  height: 300px;
  overflow: hidden;
  margin:25px;
  padding: 20px;
  border:1px solid grey;
  float: left;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 10px 10px 5px rgba(131, 118, 118, 0.5);
}
.prod-box img{
max-width: 100%;
height:fit-content;
  object-fit: cover;
  filter:drop-shadow(10px 10px 5px rgba(147, 128, 128, 0.5));
  
}
.prod-trans{
  background: rgba(78, 74, 74, 0.6);
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all .5s ease;
}
.prod-box:hover .prod-trans{
  opacity:1;
  transition: all .5s ease;
}
.prod-feature{
  text-align: center;
  margin-top: -150px;
  transition: all .5s ease;
}
.prod-feature input{
  border-radius: 10px;
  background: #84ceeb;
}
.prod-feature p{
  /* color:#2097c5; */
  color: white;
  font-family: verdana;
}
.prod-box:hover .prod-feature{
  margin-top: 150px;
  transition: all .5s ease;
}
.prod-feature input{
  width: 150px;
  height: 35px;
  font-size: 17px;
}
.ico-img
{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  filter:drop-shadow(10px 10px 5px rgba(147, 128, 128, 0.5));
}
#heading-blocks{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:40px;
  font-weight: bold;
  color:rgb(42, 4, 4);
  text-align: center;
}
footer{
  clear: both;
    position: relative;
    height: 80px;
    margin-bottom: -100px;
    background-color:#666;
    bottom:0;
    display: flex;
    margin-left: -5px;
    text-align: left;
    font-size: 19px;
}

